body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
}

.input-container {
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input {
    width: 60%;
    padding: 10px;
    font-size: 18px;
}

img {
    width: 95%;
    height: 90%;
    margin: 5px;
}

p {
    margin: 0px;
    margin-bottom: 50px;
}

button {
    padding: 10px;
    font-size: 18px;
    margin-left: 10px;
}

#results {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    width: 600px;
    height: fit-content;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
