body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

#functionInput, #inputContainer, button {
    margin-left: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#graph {
    flex-grow: 1;
}

input {
    width: 300px;
    padding: 5px;
    margin-right: 7px;
}

button {
    padding: 5px 10px;
}